-- Основное
	- На большой БД это не быстрый процесс
	- При изменении данных основной БД в Snapshot пушатся старые значения
	- Можно использовать Snapshot на Mirror БД для составления отчётов
	
	- Копия базы, которая застыла во времени, только для чтения
	- Он делается копией файлов, поэтому файлов должно быть одинаковое количество и с одинаковыми логическими названиями, логи не берутся в расчёт
	- С наружи выглядит как обычная база и создаётся командой
	 CREATE DATABASE ON (NAME 'SimpleName_data',	FILEName = 'C:\MySnap1.snapshot') as SNAPSHOT OF DatabaseName
	- Делается достаточно быстро 
	- Появляется в Databases Snapshots
	- Можно откатить основную базу на состояние Snapshot
	- Snapshot зависит от оригинальной базы и его нельзя физически отделить от основной, но можно создать
	на другом сервере (При зеркалировании с Mirror можно снять Snapshot)
	- SELECT проходит через Snapshot и идёт к основной базе, но как только будет удаление или изменение, то в
	snapshot копируются старые значения и начинают храниться там. Если сделаем дефрагментацию или перестраиваем
	индексы, то Snapshot будет заполняться, так как копируются страницы, а не файлы
	- Без основной базы Snapshot не может существовать
	- Дисковых операций становится больше
	- Откат к Snapshot
		- И основная база и снепшот не должны использоваться
		SELECT * INTO Originalbase.dbo.MyTable FROM Snapshot.dbo.MyTable -- Откат конкретной таблицы
		RESTORE DATABASE Originalbase FROM DATABASE SNAPSHOT = 'Snapshot' -- Откат всей базы	
	- Ограничения:
		- Для создания моментального снимка в зеркальной базе данных эта база данных должна быть в состоянии зеркального отображения SYNCHRONIZED.
		- Файлы не могут быть сброшены из базы данных-источника или из любых моментальных снимков.
		- Должен находиться на том же экземпляре что и база-источник
		- Моментальные снимки доступны только для чтения.
		- Создание моментальных снимков баз данных model, master и tempdb запрещено.
		- Полнотекстовое индексирование не поддерживается на моментальных снимках базы данных. Полнотекстовые каталоги не распространяются из базы данных-источника.
		- Возвращение к исходному состоянию не поддерживается для файловых групп со свойством «только для чтения» и сжатых файловых групп. 
		
-- Где использовать
	- поддержка хронологических данных для создания отчетов;
	- экономия ресурсов за счет доступности данных, необходимых для создания отчетов, в зеркальных базах данных;
	- защита данных от административных ошибок;
	- Перед серьезными обновлениями, такими как массовое обновление или изменение схемы, следует создать моментальный снимок базы данных для защиты данных. В случае ошибки можно будет восстановить базу данных путем возврата ее в предыдущее состояние с помощью моментального снимка. Потенциально процедура возврата занимает гораздо меньше времени, чем восстановление из резервной копии, но при этом она не поддерживает накат.
	- защита данных от пользовательских ошибок;
	- управление тестовой базой данных;
	
-- Ограничения
	- Моментальный снимок базы данных должен создаваться и оставаться на том же экземпляре сервера, что и база данных-источник.
	- Моментальные снимки базы данных всегда применяются на всей базе данных.
	- Моментальные снимки базы данных зависят от базы данных-источника. Следовательно, стратегию резервного копирования и восстановления не следует заменять восстановлением данных с помощью моментальных снимков базы данных. Плановое создание резервных копий остается основным действием. Если необходимо восстановить базу данных-источник на момент времени, в который был создан моментальный снимок базы данных, реализуйте политику резервного копирования, позволяющую это делать.
	- Если при обновлении страницы в базе данных-источнике и при записи этого обновления в моментальный снимок не хватает места на диске или возникает какая-либо иная ошибка, моментальный снимок становится подозрительным и должен быть удален.
	- Моментальные снимки доступны только для чтения.
	- Создание моментальных снимков баз данных model, master и tempdb запрещено.
	- Нельзя изменять любые из характеристик файлов моментального снимка базы данных.
	- Нельзя удалять файлы из моментального снимка базы данных.
	- Нельзя выполнять резервное копирование или восстановление моментальных снимков базы данных.
	- Нельзя присоединять или отсоединять моментальные снимки базы данных.
	- Нельзя создавать моментальные снимки базы данных в файловой системе FAT32 или в необработанных секциях. Разреженные файлы, используемые моментальными снимками базы данных, предоставляются файловой системой NTFS.
	- Полнотекстовое индексирование не поддерживается на моментальных снимках базы данных. Полнотекстовые каталоги не распространяются из базы данных-источника.
	- Моментальный снимок базы данных наследует ограничения безопасности своей базы данных-источника на момент создания моментального снимка. Поскольку моментальные снимки обладают свойством «только для чтения», наследуемые разрешения не могут быть изменены, и изменения, совершенные в отношении источника, не будут отражены в существующих моментальных снимках.
	- Моментальный снимок всегда отражает состояние файловых групп на момент создания моментального снимка: файловые группы в сети остаются в сети, а файловые группы вне сети остаются вне сети. Дополнительные сведения см. в подразделе «Моментальные снимки базы данных с файловыми группами вне сети» далее в этом разделе.
	- Если база данных-источник становится RECOVERY_PENDING, ее моментальные снимки могут стать недоступными. Однако после решения проблемы в базе данных-источнике ее моментальные снимки должны вновь стать доступными.
	- Возвращение к исходному состоянию не поддерживается для файловых групп со свойством «только для чтения» и сжатых файловых групп. Попытки возвращения базы данных, содержащей один из этих типов файловых групп, завершатся неудачно. Дополнительные сведения о возвращении в исходное состояние см. в разделе Возврат к моментальному снимку базы данных.
	- В конфигурации доставки журналов моментальные снимки базы данных могут быть только созданы в базе данных-источнике, а не в базе данных-получателе. Если роли переключаются между экземплярами сервера-источника и сервера-получателя, необходимо удалить все моментальные снимки базы данных, перед тем как станет возможным настроить основную базы данных в качестве базы данных-получателя.
	- Моментальный снимок базы данных не может быть настроен в качестве масштабируемой общей базы данных.
	- В моментальных снимках базы данных не поддерживаются файловые группы FILESTREAM. Если в базе данных-источнике существуют файловые группы FILESTREAM, они помечаются как вне сети в ее моментальных снимках и их нельзя использовать для восстановления базы в исходное состояние.
	
-- Минусы
	1. После отката на snapshot, цепочка backup рушится и необходимо снять или FULL или DIFF
	
-- Ограничения по БД источнику
	- В течение всего периода существования моментального снимка базы данных имеются следующие ограничения по базе данных-источнику моментального снимка.
	-	База данных не может быть сброшена, отсоединена или восстановлена. Сведения об удалении моментального снимка см. в разделе Удаление моментального снимка базы данных.
		- Резервное копирование базы данных-источника работает как обычно; на него не оказывают влияния моментальные снимки базы данных.
	- Производительность снижается по причине увеличения количества операций ввода-вывода в базе данных-источнике из-за выполнения операции копирования при записи в моментальный снимок всякий раз при обновлении страницы.
	- Файлы не могут быть сброшены из базы данных-источника или из любых моментальных снимков.
	- База данных-источник должна быть в режиме в сети, если база данных не является зеркальной в сеансе зеркального отображения базы данных.
		- Все модели восстановления поддерживают моментальные снимки базы данных.
	- База данных-источник не может быть настроена в качестве масштабируемой общей базы данных.
	- Для создания моментального снимка базы данных в зеркальной базе данных, база данных должна находиться в синхронизированном состоянии зеркального отображения.
	
-- Свободное место
	Моментальные снимки базы данных занимают место на диске. Если для моментального снимка базы данных не хватает места на диске, он помечается как подозрительный и должен быть сброшен. (Однако на базу данных-источник влияния не оказывается; действия в ней продолжаются, как обычно.) В сравнении с полной копией базы данных моментальные снимки намного более эффективны в вопросе использования места на диске. Моментальный снимок требует лишь столько места, сколько необходимо для хранения страниц, изменяющихся в период его существования. В целом, моментальные снимки хранятся ограниченное время, поэтому их размер не является предметом первостепенной важности.
	Однако чем дольше хранится моментальный снимок, тем больше вероятность того, что он израсходует все доступное место на диске. Максимальным размером, до которого может вырасти разреженный файл, является размер соответствующего файла базы данных-источника на момент создания моментального снимка. Дополнительные сведения см. в разделе Основные сведения о размере разреженных файлов в моментальных снимках базы данных.
	Если для моментального снимка базы данных не хватает места на диске, он должен быть удален (сброшен). Сведения об удалении моментального снимка базы данных см. в разделе Удаление моментального снимка базы данных.
	ПримечаниеПримечание
	За исключением места для файла, моментальный снимок базы данных использует примерно столько же ресурсов, что и база данных.
	
-- Моментальные снимки БД с файловыми группами вне сети
	- Файловые группы вне сети в базе данных-источнике оказывают влияние на моментальные снимки базы данных при попытке выполнить любое из следующих действий.
	- Когда в базе данных-источнике имеется одна или несколько файловых групп вне сети, создание моментального снимка завершается успешно с файловыми группами вне сети. Разреженные файлы не создаются для файловых групп вне сети.
		Сведения о роли разреженных файлов в связи с моментальными снимками базы данных см. в разделе Как работают моментальные снимки базы данных.
	- Можно перевести файл в режим вне сети в базе данных-источнике. Однако файловая группа останется в режиме в сети в моментальных снимках базы данных, если она находилась в режиме в сети на момент создания моментального снимка. Если запрашиваемые данные были изменены с момента создания моментального снимка, оригинальная страница данных будет доступна в моментальном снимке. Однако выполнение запросов, использующих моментальный снимок для доступа к неизмененным данным в файловой группе, скорее всего, завершится неудачно с ошибками ввода-вывода.
	- Нельзя перевести файловую группу в режим в сети в базе данных, в которой имеются моментальные снимки базы данных. Если файловая группа находится в режиме вне сети во время создания моментального снимка или отключена во время существования моментального снимка базы данных, файловая группа остается в режиме вне сети. Это происходит потому, что перевод файла обратно в режим в сети запускает его восстановление, что невозможно при существовании моментального снимка в базе данных.
	- Восстановление базы данных-источника к состоянию по моментальному снимку требует, чтобы все файловые группы находились в режиме в сети, за исключением файловых групп, которые были автономны на момент создания моментального снимка.

-- Создание Snapshot
	- Создавать необходимо для каждой файловой группы
	- СОЗДАВАТЬ необходимо на другой диск, чтобы не было проблем с откатом
	CREATE DATABASE AdventureWorks2008R2_dbss1800 ON
	( NAME = SAMO_SITE_Data, FILENAME = 
	'C:\AdventureWorks2008R2_data_1800.ss' )
	AS SNAPSHOT OF AdventureWorks2008R2
	GO

-- Откатиться на состояние заморозки
	- При возврате разрывается цепочка резервных копий журналов. Так как создаётся новый файл лога с 2 VLF. Следовательно, прежде чем можно будет выполнять резервное копирование журналов возвращенной базы данных, необходимо создать полную резервную копию базы данных или файлов. Рекомендуется создать полную резервную копию базы данных.
	- При возврате Snapshot переписывает собой основную БД
	- В процессе выполнения операции восстановления моментальный снимок и база данных-источник являются недоступными. База данных-источник и моментальный снимок помечаются как «Восстанавливаемый». В случае возникновения ошибки в процессе восстановления система попытается продолжить его при следующем запуске базы данных.
	
	RESTORE DATABASE ADMIN_SITE from 
	DATABASE_SNAPSHOT = 'AdventureWorks2008R2_dbss1800';
	GO

-- Удаление Snapshot
	- При удалении моментального снимка базы данных все пользовательские соединения с ним должны быть завершены.
	- Просто удаляется файл snapshot (быстро)
	
-- Применить Snashot
	- Просто удаляем