() - генератор случайных чисел
Отчёты, встроенные в sql - п.к.м. на сервере -> Reports
фаил mdf разбит на 8кб страницы


select * from sys.dm_os_sys_info 
select * from sys.dm_os_sys_memory 
select * from sys.dm_os_process_memory 
select * from sys.dm_os_nodes 
select * from sys.dm_os_memory_nodes 
select * from sys.dm_os_memory_clerks
exec sp_spaceused 'tablename' -- Узнать размер таблицы

-- Запустить монитор ресурсов
Пуск>Выполнить>resmon.exe


Что делать если есть проблема:
1. Есть ли проблема (оптимизировать можно двумя способами: 1. Быстрее выполнение запроса; 2. Время оставить, но снизить нагрузку на базу в эти моменты)?
	- Task Manager (real-time)
	- System Monitor(Win Server 2003)/Perfomance Monitor(Win Server 2008) (real-time)
		- Ресурс toolkeet(описано какие счётчики и для чего)
		- Самый важный ресурс Диск (счётчик в целом - средняя длина запроса к диску/Avg. Disk Queue Lengh). Если измеряется в штуках - всё хорошо, если в десятках - тормозит, если в сотнях - диск менять    бесмысленно, надо менять запрросы/оптимизировать
	- SET STATISTICS TIME/IO ON
	- Counter Log, Data Collector (пишет логи о загрузке)
	- Alert (оповещения при пороговом значении)
2. Где проблемы ()?
	- SQL Profiler (tracing). В учебнике есть советы, какие события стоит изучить/просмотреть повнимательнее
	- sp_trace...(процедуры трассировки), fn_trace...(функции трассировки). Всё это требует меньше ресурсов
	- Profiler + System Monitor
	- SQLDIAG (промышленный маштаб)
3. Почему возникает проблема?
	- Exection Plan(Query -> Include Actual Execution Plan). Подробнее о нём можно узнать в helpe по поиску graphical execution, третий результат (icon)
		Смотреть на:
		- Стоимосто запроса (Estimated Subtree Cost)
		- Состав операций
		- Раскладка стоимость по операциям (Cost %)
		- Подробности по операциям
		- Толщина стрелок
	(Если видим Table scan - куча (heap), если Index scan - поиск по индексу. Scan - полный перебор всех строк таблиц. Seek - поиск по индексу, а способ хранения таких данных называется Clustered Index)
	- Activity Monitor(процессоры запущенные, блокировки). Для работы с блокировками.
	- sp_Lock
	- Sys.dm_
	
	Advisor выдать ему трассу, задать критерии исследования и получишь рекомендации. Лучше применять данные рекомендации на тестовом сервере и проверять их действия.
	

	ИНДЕКСЫ!
	
1. Перебор обычной таблицы называется Scan, а способ хранения таких данных - Куча(Heap). В Execution plan может быть не Heap, а Table
2. Перебор отсортированной таблицы (по id) - Seek, а способ хранения таких данных - Clustered Index (разме не увеличивается, просто фаил перестраивается)
3. Не кластерный индекс (занимает место и может находитсян а другом диске). Содержит индексируемое поле и ключ кластерного индекса. Поиск производится по данному полю, а по ключу, берутся остальные поля. Получается 2 Seek, всё равно намного быстрее чем Scan
4. FillFactor
5. Можно построить не кластерный индекс с функцией Include, в нагрузку к индексу добавляет нужные поля
CREATE NONCLUSTERED INDEX i2
ON Orders(Customer)
INCLUDE (Product)
6. Если обращаться к некластерному индексу, в котором много одинаковых полей и придётся делать много сиков в кластерный индекс, то серверу легче сделать обычный Scan
7. Статистика показывает селективность индекса (как много повторяющихся значений). 5/5(5 из 5). 4/20
8. Кластерный индекс содержит фаил разметки/ссылок(когда идёт к нему запрос он говорит id с 1-1000, лежат там, с 1001-2000 лежат там,
   на следующей точке с 1001-1100, с 1101-1200...). Leaf - конечная страница. PageSplit - если надо вставить запись, а страница 8кб
   переболнена, то создаётся вторая страница и туда переносится 50% информации и запись вставляется в одну из них, после чего происходит
   перестроение ссылок.
	
	ПОДКЛЮЧЕНИЕ К СЕРВЕРУ!
	
 Начиная с 2005 - Конечные точки (порт без посредника). Это быстро, но хуже защита. SQL Server Surface Area Configeration.
	- SELECT * FROM sys.Endpoints
	- SELECT * FROM sys.HTTP_Endpoints
	- CREATE ENDPOINT
	- sp_reserve_http_namespace чтобы зарегистрировать название сервера в http.sys, дабы разработчик сайтов не занял его и не получилось задвоение.
	- GRANT CONNECT ON ENDPOINT ::название пойнта TO [MAIAMI\Евгений Онегин] + права на базу + на процедуру
	- sys.Server_Permissions и sys.Server_Principals
	
	РАЗОРВАННАЯ СТРАНИЦА/ВОССТАНОВЛЛЕНИЕ ОДНОЙ СТРАНИЦЫ(Torn Page)!

ПКМ на базе-> Options -> Page Verify. Стоять None не должно, лучше использовать CHECKSUM,но TurnPage будет достаточно. Каждый раз когда обнаруживается проблема, сервер делает запись в таблицу в msdb suspect_pages. SELECT * FROM MSDB.dbo.suspect_pages (нужные поля file_id и page_id). После обнаружения, можно поднять только нужную страницу. Делаем Инкриментальный БэкАп и оствляем базу в NoRecovery, восстанавливаем страницу из полного и накатываем инкрементальный и удаляем ошибку из MSDB.dbo.suspect_pages

	- RESTORE DATABASE AdventureWorks PAGE = '1:728' FROM DISK = 'AdventureWorks.BAK' WITH FILE = 1,  NORECOVERY (восстановили страницу из полного бэкапа)
	- RESTORE LOG AdventureWorks FROM DISK = 'AdventureWorks.BAK' WITH FILE = 1, RECOVERY 
	- DELETE FROM MSDB.dbo.suspect_pages (сами ошибки не уходят)
	
	БЛОКИРОВКИ!
	
-- Tuning Advizor
- Обратите внимание на параметр Database for workload analysis (База данных для анализа рабочей нагрузки). Он определяет базу данных,
в которой будут создаваться временные объекты Database Tuning Advisor. Конечно, такие временные объекты не должны создаваться ни в базе
данных master (что предлагается по умолчанию), ни в рабочей базе данных. Лучше всего использовать для временных объектов тюнинга новую базу
данных, специально созданную для этой цели.
- Physical Design Structures to use in database - 'Indexes and indexed views'. Это обеспечит максимальную гибкость при проведении анализа. 
- Partitioning strategy to employ - 'Full partitioning'
- Physical Design Structures to keep in database - 'Do not keep any existing PDS'
- Результаты отчёта
	1.  о том, какие запросы выполнялись чаще всего (отчет Event frequency report);
	2. насколько выиграет каждый запрос в производительности и какие индексы он использует или будет использовать в текущей и предлагаемой
	   конфигурации индексов (отчеты Statement-index relations report (current) и Statement-index relations report (recommended));
	3. о системе индексов в текущей и рекомендованной конфигурации (отчеты Index detail report (current) и Index detail report (recommended));
	4. какие индексы используются активно, а какие совсем не используются (отчеты Index usage report).
- Действия после анализа
	1. Apply recommendations (Применить рекомендации) — просто выполнить команды на создание или удаление объектов, немедленно или по
	   расписанию, в зависимости от вашего выбора;
	2. Save recommendations (Сохранить рекомендации) — рекомендации будут сохранены в файле скрипта. При этом вы сможете выбрать,
	   использовать ли команды на создание и удаление объектов в оперативном режиме (с параметром ONLINE) или в автономном режиме (OFFLINE);
	3. Evaluate recommendations (Оценить рекомендации) — это значит создать новый сеанс анализа, в котором предлагаемая конфигурация индексов,
	   индексированных представлений и разделов будет считаться действующей, и провести анализ, приняв ее за исходную. Фактически в этом режиме
	   вы проводите анализ типа "а что, если ...".