SQL Server
[http://msdn2.microsoft.com/ruru/library/ms151198.aspx]
• Все шаги реализации репликации описаны здесь: «Реализация
репликации»
[http://msdn2.microsoft.com/ruru/library/ms151847.aspx]
• Сведения о настройке и поддержке репликации есть здесь: «На/
стройка и обслуживание репликации»
[http://msdn2.microsoft.com/ruru/library/ms151247.aspx]
• Подробнее об одноранговой репликации можно прочитать здесь:
«Одноранговая репликация транзакций»
[http://msdn2.microsoft.com/ruru/library/ms151196.aspx]
• Некоторые из широко распространенных проблем и опасностей
репликации рассматривается в статье «Data Replication as an
Enterprise SOA Antipattern» в интереснейшем журнале «Microsoft
Architecture Journal»
[http://msdn2.microsoft.com/ruru/library/bb245678.aspx]
[http://msdn2.microsoft.com/ruru/library/bb410935.aspx]

-- Основы
	http://www.codeproject.com/Articles/715550/SQL-Server-Replication-Step-by-Step


--Репликация
	- Лишний раз не использовать, так как она сложная и сложно ей управлять, в основном сделано для: "Передвижение данных поближе к потребителю/производителю данных", распределённая компания и есть общая база для всех.
	- Некоторые используют как подспорье резервному копированию
	- Всё в репликациях делается громоздкими хранимыми процедурами	
	- На всех серверах обязательно должны быть запущены агенты, так как они делают репликацию через Job. Так же доменная учётная запись sqlserver должна иметь доступ sysadmin на всех серверах.
	- Репликацию удобнее всего использовать, когда данные между серверами синхронизируются с интервалом от 15—30 минут до нескольких дней, если данные нужно синхронизировать реже, чем раз в несколько дней, то, возможно, проще будет использовать резервные копии или пакеты SSIS, если чаще - распределённые транзакции или зеркалировании
	- Операции массовой вставки обходят триггеры, поэтому при репликации слиянием необходимо указать специальную команду, чтобы триггеры отслеживали эти операции FIRE_TRIGGERS	
	- Как правило, сервер базы данных издателя и сервер базы данных распространителя располагаются в одной подсети или даже являются одним и тем же сервером. Для повышения производительности доставки
	данных агентом чтения журнала из журнала транзакций издаваемой базы данных в базу данных распространителя, который находится в этойже подсети и соединен с сервером издателя высокоскоростным соединением
	
-- Для реализации системы необходимы 3 вещи:
	1. Сервер Publisher (издатель). Кодировка должна быть точно такой же как и на подписчике
	2. Сервер Distributer (Можно объединить с 1 или 3). Который имеет базу в системных базах, где указано что и кому отдал. Распространение и применение моментальных снимков. А также для тиражирования изменений в репликации транзакций.
	3. Сервер Subscriber (подписчик). Кодировка должна быть точно такой же как и на издателе
	
-- Исключение из репликации/NOT FOR REPLICATION
	- Для следующих объектов можно указать параметр NOT FOR REPLICATION:
		1. Foreign KEY
		2. Check
		3. Trigger
		4. Для столбцов счетчика. Автоматическое приращение для таких столбцов учитываться не будет.
	
-- Средства мониторинга/мониторинг/monitor
	- Alert
	- Умный мониторинг
	- Replication Monitor
	- Profiler
		1. Главным событием для анализа является RPC: Completed
		2. Если будет нужна дополнительная информация, то следует рассмотреть следующие счётчики: SQL:StmtStarting, SQL:StmtCompleted, Scan:Started, Scan:Stopped,Show Plan Statistics, Show Plan All и Show Plan Text.
	- В SSMS пкм на разделе 'публикации и подписки' >> View Status
	- Журналы SQL Server и SQL Server Agent. Для более массового журналирования репликации можно выбрать профиль агента Verbose history agent profile
	- Посмотреть историю выполнения задачий SQL Server Agent, а так же настроить предупреждения
	- sp_browsereplcmds, sp_replcounters, sp_replshowcmds, sp_repltrans, sp_replflush, sp_repldone, sp_replqueuemonitor, sp_replcmds и DBCC OPENTRAN.
	- select * from distribution..MSrepl_errors order by time desc
	- Perf Monitor:
	- sp_replmonitorhelpsubscription @publication_type=0, @publisher = 'SQLSERVERA2\ORIOLA' -- Посмотреть информацию от Distributer to Subscriber
	- select * from distribution..MSrepl_errors -- error_id можно взять из distribution..MSdistribution_history
	- select * from distribution..MSreplication_monitordata -- общая информация
	- SELECT * FROM distribution..MSdistribution_status
	- SELECT * FROM distribution..MSdistribution_history
	- SELECT * FROM distribution..MSdistribution_agents
	- SELECT * FROM distribution..Mspublications
		SQL Server: Replication Snapshot — сколько команд или транзакций было передано распространителю
		SQL Server: Snapshot:Delivered Cmds/sec» показывает передаваемое распространителю число команд в секунду
		SQL Server: Snapshot: Delivered Trans/sec» передаваемое в секунду число транзакций.
		SQL Server: Replication Dist. — информация о работе Distribution Agent;
		SQL Server: Dist: Delivery Latency», показывает задержку исполнения транзакции на подписчике после ее отправки из базы данных распространителя в миллисекундах.
		SQL Server: Replication Logreader — которые показывают сколько команд или транзакций было передано распространителю, а также сопутствующую этим процессам задержку.
		SQL Server: Replication Merge — сколько строк было передано между издателем и подписчиком, и сколько при этом возникло конфликтов.
		SQL Server: Conflicts/sec - число зафиксированных в секунду конфликтов, на протяжении сеанса репликации слиянием
		SQL Server: Downloaded Changes/sec - показывает какое число строк в секунду копируется от издателя подписчику
		SQL Server: Uploaded Changes/sec - число строк, копируемых в секунду от подписчика издателю
		SQL Server: Replication Agents — для этого объекта предусмотрен единственный счетчик, который показывает, сколько агентов работает в настоящий момент.
	-- Алгоритм тестирования репликаций транзакций	
		- После обнаружения проблемы в мониторе репликации, включите максимальный уровень детализации истории агентов чтения журнала и распространителя (OutputVerboseLevel). Измените значение аргумента агента распространителя BatchCommitSize на 1, это позволит обрабатывать единовременно по одной транзакции или инструкции, которые могут состоять из нескольких команд. Потом, отключите работу заданий по очистке метаданных распространителя, чтобы избежать удаления информации, необходимой для поиска и устранения проблемы. После этого, перезапустите агентов чтения журнала и распространителя (если это необходимо). На подписчике убедитесь, что в таблице MSreplication_subscriptions присутствуют и верны записи исследуемой подписки. Запомните значение в колонке transaction_timestamp для агента распространителя этой подписки, которое будет нам указывать на последнюю транзакцию, поставленную распространителем подписчику. В таблицах базы данных распространителя присутствует колонка xact_seqno, которая соотносится с колонкой transaction_timestamp на подписчике (за исключением завершающих нулей). Далее, полученную информацию можно использовать для вызова системной хранимой процедуры sp_browsereplcmds @xact_seqno_start = “ <transaction_timestamp> “ которая вернет реплицируемые команды. Большим подспорьем в разрешении проблем репликации транзакций может стать системная функция fn_dblog, которая позволяет заглянуть внутрь журнала регистрации транзакций. Ее можно использовать, опираясь на тот факт, что в журнале даже после прохождения контрольной точки остаются записи реплицируемых транзакций, которые еще не были помечены агентом чтения журнала, как успешно реплицированные. Т.о. можно определить, например, являются ли транзакции репликации причиной роста файла журнала транзакций. Посмотреть это не составляет труда, достаточно простого вызова: SELECT * FROM fn_dblog(null,null). Далее, остается только проанализировать возвращаемую представленной выше командой информацию. Помните, что команды одной транзакции имеют одинаковый идентификатор. Есть особые метки, которые могут помочь Вам ориентироваться в содержимом журнала. Например, следующие две метки отмечают начало и конец прохождения контрольной точки: LOP_BEGIN_CKPT и LOP_END_CKPT. Такие метки, как LOP_BEGIN_XACT, LOP_INSERT_ROWS и LOP_COMMIT_XACT отмечают транзакцию вставки данных в таблицу, а по колонке AllocationUnitName можно определить какой объект был задействован в транзакции.
		
-- Создание репликации
- Можно что-то менять в свойствах подписки, публикации
	1. В сервере есть раздел Replication > правая кнопка мыши > Configure Distribution
	2. Далее необходимо указать какой сервер будет Distributer 
	3. Создать шару, через которую будет прогоняться большая часть информации, которая должна быть видно всем
	4. Ресурс системной базы данных(что кому передал), можно оставить как есть > Скрипт лучше сгенерировать.
	5. Создать/указать базу данных, которая будет реплицироваться
	6. Объявить базу для публикации:
		- Replication > local Publications > пкм "New Publication" > Выбираем базу > Выбираем механизм репликации > Выбираем что именно
		  будет реплицировать > Все ли будем строки или создать фильтр > Выбираем под кем будут выполняться Джобы
	7. Создать подписку
		1. Если выберем режим Pull, то будет создан джоб на подписчике, который будет решать когда надо реплицировать, если push, то на издателе
		2. Далее добавляем подписичиков, надо создать или выбрать в какую базу будет реплицироваться
		3. Выбрать учетную запись для Джоба

-- Виды репликаци:
	1. Snapshot (передача всей базы целиком, как будто передаётся полный backup (но на самом деле это не так, создаётся 4 файла, которые подымаютсян на подписчиках) и на точке назначения восстанавливается)
	   - Можно выставить задержку
	   - Может совершаться на периодической основе или по требованию
	   - Подписчики не могут вносить изменения в БД, но существует разновидность данной репликации, где возможно это сделать, но появится больше ограничений
	   - Используется во всех других типах репликации для передачи начального состояния базы
	   - Сценарии схемы таблиц, представлений и хранимых процедур сохраняются в файлах с расширением «sch».
	   - Сценарии создания индексов сохраняются в файлах с расширением «idx».
	   - Сценарии создания триггеров будут в файлах с расширением «trg».
	   - Ограничения для поддержки декларативной ссылочной целостности будут находиться в файлах с расширением «dri».
	   - Данные будут находиться в файлах с расширением «bcp».
	   - Данные моментальных снимком следует размещать на отдельны дисках, чтобы не создавать большую нагрузку на базу
		
		- Джобы:
			1. Один смотрит наличие новой публикации и копируется их на подписчика (запущен всегда)
			2. Второй запускается иногда и создаёт снепшоты
		Плюсы:
			1. Простая
			2. Нет требований к базе
		Минусы:
			1. Односторонняя
			2. Неэффективная, так как копирует всю базу даже при малейших изменениях
		-- Ограничения
			1. Все ограничения должны иметь имена, иначе они могут быть именованы по разному (автоматическое именование) на издателе и подписчиках
			
		-- BACKUP/Restore
			Хорошей практикой является резервное копирование публикуемой базы данных сразу после внесения изменений в настройки или схему существующих публикаций или после добавления новых.Вместе с издателем нужно резервировать и распределителя, что бы при необходимости восстановления они были синхронны.
			
		-- Удаление Snapshot
			- Можно создать задание Distribution clean up: distribution, в котором можно указать срок жизни Snapshot
		
	2. Transactional (передаются транзакции из лога с помощью джоба)
		- Данные тиражируются в хронологическо выстроенном порядке
		- В классическом виде на подписчике изменения не вносятся, при реализации этой возможности появляются дополнительные ограничения
		- Может быть некоторая задержка
		Виды:
			1. IMMEDIATE
			2. «Queued»
			3. Peer-to-peer (одноранговая репликация)
				- Это особый тип репликации транзакций, в котором каждый участник является одновременно издателем и подписчиком (поддерживается только в Enterprise редакции). Одноранговая репликация наиболее полезна для групп, включающих до десяти серверов для балансировки нагрузки или для повышения уровня доступности.
				- Помогает распределить нагрузку на разные сервера
				- Каждый член такой репликациия является одновременно и издателем и подписчиком
				-- Если строка изменяется на нескольких узлах, это может вызвать конфликт или даже потерю обновления, когда эта строка передается на другие узлы.
					- Основная ее идея публикуемые статьи могут быть подписаны. Все узлы в одноранговой топологии равноправны, каждый является и издателем и подписчиком на одну и ту же публикацию, схемы на всех узлах идентичны.
					- Конфликты в версии SQL Server 2005 не отслеживаются, поэтому необходимо принимать меры, предотвращающие одновременную модификацию одних и тех же данных на разных узлах.
					- Одноранговая репликация доступна только в SQL Server 2008 Enterprise.
					- Резервная копия должна быть сделана после включения базы в одноранговую репликацию.
					- Нельзя использовать параметры публикации: «Queued» или «immediate updating
					- Все базы данных, участвующие в одноранговой репликации, должны содержать идентичные схемы и данные.
					- Нельзя использовать MaxCmdsInTran и параметр агента распространителя SubscriptionStreams.
					- Имена объектов, схемы объектов и публикаций должны быть идентичными.
					- Публикации для реплицирования должны разрешать изменения схемы. (То есть свойство публикации replicate_ddl должно иметь значение 1, которое является значением по умолчанию). 
					- Фильтрация строк и столбцов не поддерживается.
					- Рекомендуется на каждом узле использовать собственную базу данных распространителя. Это исключит возможность образования одной точки сбоя.
					- Таблицы и другие объекты нельзя включать в несколько одноранговых публикаций в отдельной базе данных публикации.
					- Публикация должна быть доступна для одноранговой репликации до создания подписок.
					- Подписки должны быть инициализированы с помощью резервного копирования или параметра только поддержка репликации. Дополнительные сведения см. в разделе Инициализация подписки на публикацию транзакций без моментального снимка.
					- Не рекомендуется использовать столбцы идентификаторов. При использовании идентификаторов необходимо вручную управлять диапазонами, назначенными таблицам, в каждой участвующей базе данных. Дополнительные сведения см. в подразделе «Назначение диапазонов для ручного управления диапазонами идентификаторов» раздела Репликация столбцов идентификаторов.
		-- При проектировании таблиц для репликации транзакций:
			- Во/первых, все таблицы, включенные в репликацию транзакций, должны иметь первичные ключи. Во/вторых, для входящих в публикацию таблиц стоит рассмотреть возможность отключения срабатывания триггеров и проверок ограничений внешнего ключа для реплицируемых операций. Ограничения внешнего ключа и триггеры 40 Репликация SQL Server 2005/2008 используются для обеспечения целостности данных. Поддержка ссылочной целостности в репликации может обходиться слишком дорого, поскольку любые изменения будут приводить к срабатыванию этих механизмов на всех подписчиках. Кроме того, такие срабатывания зачастую паразитные, поскольку дублируют уже выполненные на издателе срабатывания.
		
		- Ограничения
			1. Инициация и повторная инициация с помощью моментальных снимков.
			2. Фильтрация строк и столбцов.
			3. Столбцы отметок времени.
			4. Издатели и подписчики, отличные от SQL Server.
			5. Немедленно обновляемые подписки и подписки, обновляемые посредством очередей.
			6. Анонимные подписки.
			7. Частичные подписки.
			8. Присоединяемые подписки и трансформируемые подписки. (Оба параметра устарели, начиная с версии SQL Server 2005).
			9. Общие агенты распространителя.
			10. Параметр агента распространителя -SubscriptionStreams и параметр агента чтения журнала -MaxCmdsInTran.
			11. Свойства статьи @destination_owner и @destination_table.
			12. Позволяет изменять схему на подписчике, но это может привести к сбоям
			13. Все ограничения должны иметь имена, иначе они могут быть именованы по разному (автоматическое именование) на издателе и подписчиках
			
		- Следующие операции требуют приостановки системы. Это подразумевает остановку действий в опубликованных таблицах на всех узлах и проверку получения изменений на каждом узле.
			1. Добавление узла SQL Server 2005 к существующей топологии
			2. Добавление статьи к существующей публикации
			3. Изменения схемы
			4. Восстановление узла из резервной копии
			3. Queued
		Требования:
			1. Все таблицы должны иметь первичный ключ
			2. Обязательно иметь хотя бы 1 раз прогнанный snapshot, потом будут идти транзакции
		Джобы:
			1. Смотрит в лог издателя и забирает транзакции (LogReader)
		Плюсы:
			1. Быстрая
			2. Не очень серьёзные требования к базе 
		Минусы:
			1. Односторонняя, но есть костыли
			
		-- BACKUP/Restore
			- Начиная с версий SQL Server 2000 существует возможность восстановления издаваемых баз и базы распределителя, без необходимости по вторной инициализации подписчиков или отключения реконфигурации публикаций и дистрибутора. После восстановления, SQL Server автоматически скоординирует эти базы данных. Еще одним нововведением в SQL Server 2000 была возможность совместного использования репликации транзакций и службы доставки журналов на резервный сервер
			- Для обеспечения возможности восстановления издателя и дистрибутора на любой, заданный момент времени, необходимо для этих баз данных SQL Server включить опцию синхронизации реплицируемой базы данных с резервной копией. Делается это с помощью системной хранимой процедуры sp_replicationdboption, синтаксис вызова которой следующий: EXEC sp_replicationdboption '<имя базы данных>', 'sync with backup', 'true'
			- Проверить, включена ли опция синхронизации с резервной копией можно с помощью системной функции DATABASEPROPERTYEX, например так: SELECT DATABASEPROPERTYEX('<имя базы данных>', 'IsSyncWithBackup')
	(log shipping).
	3. Merge (между базами копируются строки)
		- Репликация слиянием позволяет нескольким узлам работать автономно, а затем объединить изменения в единый результат. Репликация слиянием используется, когда несколько подписчиков могут менять одни и те же данные в разное время.
		- Базы данных, участвующие в репликации слиянием, тоже могут быть восстановлены без необходимости последующей инициализации подписчиков и настройки публикации и подписок.
		- Имеет в своей основе триггерный механизм
		- Небольшие задержки в тиражировании
		- Репликация слиянием отслеживает изменения, используя триггеры и таблицы метаданных.
		- Есть возможность организовать репликацию с помощью http:// и https://
		- Все добавления и изменения данных записываются в специальные локальные таблицы метаданных репликации слиянием.
		- Данные могут изменяться как на издателе, так и на подписчике
		- По существу размер хранимых метаданных является ключевым фактором производительности репликации слиянием.
		- Во время создания публикации репликации слиянием к таблицам может быть добавлен столбец с типом uniqueidentifier и с именем rowguid. Кроме столбца, для таблицы создается уникальный некластеризованный индекс по столбцу rowguid. И это еще не все изменения схемы. Для каждой таблицы, включаемой в публикацию, создается набор триггеров,имена которых начинаются со следующих префиксов: ins_, del_ и upd_,и заканчиваются глобальными уникальными идентификаторами. Агент слияния сравнивает содержимое таблиц MSmerge_contents подписчика и издателя. Если одна и та же строка в сеансе числится измененной на издателе и на подписчике, регистрируется конфликт. Механизм поколений позволяет принимать решение о том, какие строки должны быть изменены без полного просмотра таблиц
		- Если 3 сервера и изменение сделали на одном из подписчиков, то сначала изменятся данные на основном, потом на всех других. При этом если одновременно были добавлены одинаковые id, то данные могут потеряться, решением будет составной ключ. Для работы с текстом используется UPDATETEX и WRITETEXT, но они не ловятся триггером и поэтому репликация не пройдёт, решение: UPDATE TABLE SET Salary=Salary WHERE ID = 123 
		- Чтобы информация передавалась не везде и вся надо создать таблицу с ID и Region и оба поля поместить в первичный ключ. Далее администратор делает публикацию и необходимо настроить фильтр, к тому же надо настроить отдельную публикацию на каждого подписчика, в базе которого надо настроить индивидуально регион (можно задать значение по-умолчанию для Region)
		- Можно делать задержку		
		- Если был сбой после задержки, то надо реинициализировать публикацию и создать новый снепшот
		Плюсы:
			1. Двусторонняя
			2. Более менее быстрая
		Минусы:
			1. Вмешивается а работу БД, в частности создаёт столбцы
			2. В каждой реплицируемой таблице добавили 3 триггера
		-- Ограничения
			1. Не позволяет изменять схему на подписчике
			2. Нельзя удалять поля со свойством uniqueidentifier или ROWGUIDCOL.
			3. Все ограничения должны иметь имена, иначе они могут быть именованы по разному (автоматическое именование) на издателе и подписчиках
		-- Агенты репликации слиянием
			Агент моментальных снимков - Snapshot.exe выполняется на распространителе. Он извлекает схему и данные относящиеся к публикации, которые затем отправляется подписчикам через папку моментальных снимков. Он также обновляет статусную информацию в базе данных распространителя. Он используется во всех типах репликации.
			Агент чтения журнала - LogRead.exe используется в репликации транзакций. Он читает нужные зафиксированные транзакций из журнала транзакции издателя, пакует и передает их распространителю в правильном порядке.
			Агент распространителя - Distrib.exe принимает моментальные снимки и записи из журнала транзакций подготовленные агентами, о которых мы говорили выше, и направляет их подписчикам.
			Агент слияния - ReplMer.exe используется только в репликации слиянием для применения к подписчикам исходного моментального снимка, а также для обмена изменениями между издателем и подписчиками.
			Агент чтения очереди - QrDrSvc.exe используется в репликации транзакций, если для публикации включено отложенное обновление. Этот агент перемещает изменения, сделанные на подписчике, обратно на издатель.
		-- Опмитизация
			1. Следует выполнять регулярную проверку целостности реплицируемых данных с помощью SQL Compare и SQL Data Compare
			2. sp_browseReplCmds - c ее помощью можно определить, как сильно мы отстаем от синхронизации в любой конкретный момент времени
			3. Смотри раздел "Сверка репликации". Хорошая практика выполнять ежедневно sp_publication_validation и раз в неделю sp_table_validation
		-- Решение конфликтов
			• Первое изменение, записанное на издателе, побеждает в конфликте.
			• Принимается изменение подписчика с наибольшим значением при оритета.
			• Пользовательский арбитр конфликтов на основе COM или хранимых	процедур.
			
-- Агенты репликации
	- Права доступа для агентов лучше давать по минимуму, только то, что им нужно
	- Редактируются через командрную строку
	1. distrib.exe – Replication Distribution Agent (агент распространителя);
	2. snapshot.exe – Replication Snapshot Agent (агент моментальных снимков);
	3. replmerg.exe – Replication Merge Agent (агент слияния). получает конфигурацию и умеет не только проводить сеансы репликации слиянием между базой данных издателя и базой данных подписчика, но и применяет моментальный снимок для первоначальной или повторной инициализации подписчика, если это не запрещено в настройках подписки. Урегулирует конфликты согласно установленных правил или с использованием заданного администратором алгоритма разрешения конфликтов. Агенту слияния не нужен агент распространителя, и он почти не использует базу данных распространителя. Кроме того, у этого агента больше всего разнообразных профилей работы.
	4. logread.exe – Replication Log Reader Agent (агент чтения журнала транзакций в репликации транзакций). По умолчанию агент чтения журнала работает в непрерывном режиме. Если его запускать по расписанию, то этим тоже можно снизить нагрузку на журнал транзакций, особенно, если за этот ресурс большая конкуренция системных процессов. Еще одной причиной потери производительности агента чтения журнала может быть использование в статье горизонтальных фильтров, поскольку агент будет применять фильтр к каждой строке фильтруе мой таблицы.
	- Для SQL Server 2000 все эти четыре программы можно найти в каталоге по умолчанию: «C:\Program Files\Microsoft SQL Server\80\COM». Для SQL Server 2005/2008 путь к программам отличается только папкой версии, вместо «80» будет «90» или «100». Для того чтобы посмотреть параметры вызова этих программ, необходимо запустить соответствующие исполняемые файлы с ключом «/?».
	- Обратите внимание на то, что параметры могут быть определены в любом порядке. Когда дополнительные параметры не определены, используются значения предопределенных параметров в системном реестре локальной системы.
	5. QrDrSvc.exe - Агент чтения очереди, используется в репликации транзакций, если для публика ции включено отложенное обновление. Этот агент перемещает измене ния, сделанные на подписчике, обратно на издатель.
	
	- Отключение BCP секционирования
		В настройках агента, в SQL Jobs, добавить -EnableArticleBcpPartitioning
	
-- Настраиваемые параметры репликации
	- Задавать параметры можно через стандартный или пользовательский профиль агента, а также непосредственно в задании по расписанию, которое обслуживается агентом сервера и в котором одним из
	шагов задания вызывается программа агента репликации
	- Профиль агентов репликации может быть задан, переопределен или создан с помощью специализированного мастера. Мастер использует в своей работе системные таблицы в базе данных msdb (MSagent_profiles):
	SELECT [profile_id]	,[profile_name]	,CASE [agent_type]
	WHEN 1 THEN 'агент моментальных снимков'
	WHEN 2 THEN 'агент чтения журнала'
	WHEN 3 THEN 'агент распространителя'
	WHEN 4 THEN 'агент слияния'
	WHEN 9 THEN 'агент чтения очереди'
	ELSE ''END
	,[type]	,ISNULL ([description], '') AS description	,[def_profile]
	FROM [msdb].[dbo].[MSagent_profiles]
	ORDER BY [profile_id]
	- метаданных слияния: MSmerge_contents, MSmerge_tombstone и MSmerge_genhistory
	- Параметры хранятся в таблице MSagent_parameters
	- Полный список параметров MSagentparameterlist
	- MSlogreader_history агент чтения журнала делает записи о последних прочитанных в сеансах репликации номерах виртуальных журналов (LSN)
	- Регистрация системной информации на сервере распространителе MSrepl_commands и MSrepl_transactions.
	
	-- Сиписок параметров
	BcpBatchSize - который позволяет разбивать поток экспорта/импорта данных на блоки. Этот аргумент задает число строк, используемых в операциях массового копирования. The BCPBatchSize parameter is the number of rows read or written by the snapshot or distribution agent within a single transaction and before the progress is reported within the Replication Monitor.
	MaxBcpThreads - определяет число потоков операций массового копирования, которые могут быть выполнены параллельно. Практика показывает что даже для однопроцессорных систем имеет смысл ставить это значение больше единицы, например 3
	ReadBatchThreshold	
	Buffers - задает число буферов, доступных для асинхронных транзакций. Значение по умолчанию равно 2. Увеличение этого числа может способствовать повышению эффективности за счет сокращения листания (memory paging) памяти. Однако, большое число установленных буферов увеличивает объем памяти, выделяемой для обслуживания листания.
	MaxCmdsInTran - определяет максимальное число инструкций, сгруппированных в транзакцию, которые агент чтения журнала запишет в базу данных распространителя.
 	
	CommitBatchSize - задает число транзакций, которые будут исполнены подписчиком прежде, чем будет исполнена инструкция COMMIT обрамляющей транзакции, по-умолчанию 100.
	MaxDeliveredTransactions - можно задать максимальное число «push» или «pull» транзакций, примененных на подписчике в рамках одного сеанса синхронизации. Значение 0 указывает, что будет применено максимально возможное число транзакций
 	StartQueueTimeout
	CommitBatchThreshold - задает число команд репликации, которые будут исполнены подписчиком прежде, чем будет исполнена инструкция COMMIT. Значение по умолчанию равно: 1000.
 	MaxDownloadChanges
	UploadReadChanges
	PerBatch	
	MaxUploadChanges 
	UploadReadChanges
	PerBatch	
	DownloadGenerations 
	PacketSize - с помощью которого задается размер сетевого пакета в байтах. Значение по умолчанию - 4096 (байт). Увеличение размера пакета,если это допустимо используемым сетевым оборудованием, может снизить нагрузку на сеть и сократить число возможных коллизий.	
	UploadWriteChanges
	PerBatch
	PerBatch
	DownloadReadChanges 
	PollingInterval - Нужно отметить, что непрерывный режим тоже является дискретным, и эту дискретность в секундах определяет еще один аргумент агента распределителя PollingInterval.
	UseInprocLoader - присвоив ему значение «1». Для справки замечу, что это повышает эффективность использования первоначального снимка, предписывая агенту распространителя использовать команду BULK INSERT при применении файлов снимка на подписчике
	PerBatch
	DownloadWriteChanges
	ReadBatchSize
	PerBatch
	HistoryVerboseLevel - который определяет объем информации, протоколируемой в журнале работы агента.
	OutputVerboseLevel - определяет уровень подробности отчета, сохраняемого в файл (0,1,2). Устанавливать уровень подробности хронологии работы агентов репликации больше нулевого стоит в тех случаях, когда проводится тестирование репликации, на время периодического контроля работы агентов или в целях отладки и разрешения проблем. Отказ от ведении сеансов репликации может дать прирост производительности сеанса репликации до 15%.
	
	-- Репликация слиянием
		UploadGenerationsPerBatch - задает число поколений, которые будут обработаны в одном пакете при загрузке изменений от подписчика к издателю. Поколение представляет собой логическую группу изменений в статье. Значение по умолчанию для профиля, рассчитанного на надежные коммуникации между издателем и подписчиком, принимается равным 100. Значение по умолчанию для ненадежной связи - 1
		UploadReadChangesPerBatch - задает число изменений, которые будут считаны в одном пакете при загрузке от подписчика к издателю.
		DestThreads	- задает число потоков, которые агент использует для передачи изменений с одного сервера на другой сервер, участвующий в репликации слияния
		SrcThreads - задает количество потоков на источнике, которые агент слияния использует для того, чтобы посчитать изменения на источнике
		UploadWriteChangesPerBatch - задает число изменений, которые будут применены в рамках одного пакета при загрузке изменений от подписчика к издателю.
		DownloadGenerationsPerBatch - задает число поколений изменений, которые будут обработаны в одном пакете при их загрузке от издателя к подписчику.
		DownloadReadChangesPerBatch - задает число изменений, которые будут прочитаны в одном пакете при их загрузке от издателя к подписчику
		DownloadWriteChangesPerBatch - задает число изменений, которые будут применены в одном пакете при их загрузке от издателя к подписчику.
		ForceConvergenceLevel - задает агенту степень слияния. ForceConvergenceLevel 0 | 1 | ( 2 (Publisher | Subscriber | Both) ). Значение по умолчанию – 0, при этом используется стандартное слияние без принудительного сведения. Значение 1 задает принудительное сведение для всех поколений. Значение 2 задает принудительное сведение для всех поколений и корректирует неправильные поколения. Для этого режима важно, где неправильные поколения должны быть исправлены.
		MetadataRetentionCleanup - отвечает за то, будет ли производиться автоматическая очистка устаревших метаданных с учетом периода задержки издателя. Этот аргумент называется и ему может быть присвоено два значения 0 и 1.
	
-- Оптимизация
	- Если 2 репликации входят в одну БД, то они могут блокировад друг друга при пересинхронизации, даже если таблицы разные. Скорее всего это из-за одновременного доступа к системным объектам
	- Пересинъхронизация репликации может блокироваться перестроением индексов и обновлением статистики
	- UseInprocLoader + MaxBcpThreads - Может дать до 50% улучшение производительности
	- При большом количестве подписчиков рассмотрите возможные меры по сокращению частоты копирования изменений на распространителя. В таких случаях может оказаться выгодным запускать агента распрост
	ранителя реже (в пределах, допустимых бизнес правилами), это может существенно сократить количество операций. Использование подписок типа «pull» или анонимных подписок позволяет разгрузить издателя и/или распространителя. Аналогично действует использование опции удаленного запуска агента (Remote Agent Activation). Анонимные подписки не хранят информацию о подписке в базе данных распространителя. И наконец, если сервер/издатель перегружен, но не может быть масштабирован до необходимого уровня производительности, можно переместить базу данных распространителя на другой, менее загруженный сервер.
	
	-- Distribution Agent Properties

		- Reducing the -OutputVerboseLevel property to 0 except during initial testing, monitoring, and debugging. This reduces the amount of output information that is displayed and can improve performance by 5 percent.
		- Reducing the -HistoryVerboseLevel property to 0 except during initial testing, monitoring, and debugging. This eliminates the logging of history and can improve performance by 5 percent.
		- Increasing the -CommitBatchSize and -CommitBatchThreshold property. Although the default values of 100 for -CommitBatchSize and 1,000 for -CommitBatchThreshold are optimal, in tests run at Microsoft, increasing the values twofold to tenfold improved performance by 5 percent for INSERT commands, 10-15 percent for UPDATE commands, and 30 percent for DELETE commands. In the test scenario, the Distribution Agent ran independently of the Log Reader Agent, but if the two agents run concurrently and the values are set too high, Distribution Agent performance can decrease while the Log Reader Agent is running.
		- Reducing the -PollingInterval setting. Reducing the polling interval can improve the latency of transactions from the distribution database to the Subscriber, because the Distribution Agent will query the distribution database more frequently. Reducing the polling interval on the both the Log Reader Agent and the Distribution Agent can improve latency between Publisher and Subscriber. Using a low value on a slower network connection is not recommended.
		- Use multiple CPUs, including Dual- and Quad-Core CPUs.
		- Add additional RAM (besides what you need for using SQL Server without using replication).
		- If you need maximum performance for your transactional or merge replication, you should place the log of every database you want replicated on it own separate disk array. The transaction log is used heavily during transactional and merge replication, and the more you can isolate disk I/O for these files, the higher the performance.
		- Connect all SQL Servers involved in replication using high-speed network connections and switches.
		- Ideally, the distribution component of replication should be on its own dedicated server, not located on the server running the publishing or subscribing components of replication.
		
		-- Distribution Agent
		BCPBatchSize - 100000
		CommitBatchSize - 200
		CommitBatchThreshold - 2000
		distrib -HistoryVerboseLevel 1 
		distrib -OutputVerboseLevel 0

		--Log Reader Agent
		logread -HistoryVerboseLevel 1 
		logread -OutputVerboseLevel 0

		--Merge Agent
		replmerg -HistoryVerboseLevel 1 
		replmerg -OutputVerboseLevel 0

		--Snapshot Agent
		snapshot -HistoryVerboseLevel 1 
		snapshot -OutputVerboseLevel 0
		
		*****
		Avoid publishing unnecessary data.
		Try to restrict the amount of published data. This can results in good performance benefits, because SQL Server will publish only the amount of data required. This can reduce network traffic and boost the overall replication performance.

		*****
		Place the published database log and distribution database log on the separate disk drives.
		Because logging is more write-intensive, it is important that the disk arrays containing the SQL Server log files have sufficient disk I/O performance.

		*****
		Do not configure the distribution database to expand or shrink automatically.
		Microsoft recommends to set a fixed size for the distribution database. Setting a database to automatically grow results in some performance degradation, therefore you should set a reasonable initial size of the distribution database.

		*****
		Place the distribution component of replication on its own dedicated server.
		This topology is used for performance reasons when the level of replication activity increases or the server resources become constrained. It reduces Publisher loading, but it increases overall network traffic. This topology requires separate Microsoft SQL Server installations, one for the Publisher and one for the Distributor.

		*****
		Run the Snapshot Agent as infrequently as possible.
		The Snapshot Agent bulk copies data from the Publisher to the Distributor, which results in some performance degradation. So, try to schedule it during CPU idle time and slow production periods.

		*****
		Avoid using continuous replication.
		Try to schedule replication to occur at regular intervals instead of using continuous replication.

		*****
		Avoid replicating text, ntext and image columns.
		These data types require more storage space and processing than other column data types.

		*****
		Replicate the execution of stored procedures when a large number of rows are affected.
		For example, instead of replicating a very large number of insert, update and delete statements, you can create stored procedure, which will contain all these statements, and replicate to subscriber only the execution of this stored procedure. This can reduce network traffic and boost the overall replication performance.

		*****
		Set the "Maximize Throughput for Network Applications" option.
		This can increase SQL Server performance, because Windows NT will allocate more RAM to SQL Server than to its file cache. To set this option, you can do the following:
		1. Double-click the Network icon in Control Panel.
		2. Click the Services tab.
		3. Click Server to select it, and then click the Properties button.
		4. Click Maximize Throughput for Network Applications, and then click OK.
		5. Restart the computer.

		*****
		Specify the 'min server memory' options.
		This option is used to set a minimum amount of memory allocated to SQL Server. Microsoft recommends that the 'min server memory' options be set to at least 16 MB of memory to avoid low memory availability during replication activities, if the server is a remote Distributor or a combined Publisher and Distributor. You can also change these options when SQL Server works on the same computer with other applications. In this case, the 'min server memory' option is used to allow SQL Server works when other applications pretend to use all available memory.

		*****
		If you work with SQL Server 2000 in a central publisher with remote distributor topology (when the distribution component of replication resides on its own dedicated server) and Publisher connected with the Distributor over slow LAN or WAN, consider compressing the snapshot files.
		This is a new SQL Server 2000 replication feature, which allows you to decrease network traffic by compressing snapshot files.

		*****
		Try to enable pull or anonymous subscriptions to increase the Distributor performance.
		This can increase the Distributor performance, because Distribution Agent processing will be moved from the Distributor to Subscribers.

		*****
		Increase the MaxBcpThreads property of the Snapshot Agent.
		This property specifies the number of bulk copy operations that can be performed in parallel. By increasing this value, bulk copy operations can run faster, because they will be perform in parallel. To increase the MaxBcpThreads value in the Snapshot Agent profile, you can do the following:
		1. Run SQL Server Enterprise Manager.
		2. Expand a server group; then expand a server.
		3. Expand Replication Monitor; then expand the Agents and click the Snapshot Agents folder.
		4. Right-click appropriate publication and select Agent Profiles...
		5. Click the New Profile button to create the new profile with the appropriate MaxBcpThreads value.
		6. Choose the newly created profile.
		Note. Do not set this property too high, it can results in some performance degradation, because SQL Server will have to spend extra time managing the extra threads. Increase this property to 2 and continue monitoring.

		*****
		Set the OutputVerboseLevel property of the Distribution Agent, the Log Reader Agent, the Merge Agent, and the Snapshot Agent to 0.
		This property specifies whether the output should be verbose. There are three available values:
		0 - only error messages are printed
		1 - all of the progress report messages are printed
		2 - all error messages and progress report messages are printed
		The default value is 2. You can increase performance by printed only error messages.
		To set the OutputVerboseLevel value to 0, you can do the following:
		1. Run SQL Server Enterprise Manager.
		2. Expand a server group; then expand a server.
		3. Expand Replication Monitor; then expand the Agents and click the appropriate agent folder.
		4. Right-click appropriate publication and select Agent Properties...
		5. On the Steps tab, double-click the Run agent step, and then add the -OutputVerboseLevel 0 in the Command text box.

		*****
		You can minimize the performance affect of history logging by selecting 1 for the HistoryVerboseLevel property of the Distribution Agent, the Log Reader Agent, the Merge Agent, and the Snapshot Agent.
		This property specifies the amount of history logged during distribution operation (for a Distribution Agent), during a log reader operation (for a Log Reader Agent), during a merge operation (for a Merge Agent), or during a snapshot operation (for a Snapshot Agent).
		To set the HistoryVerboseLevel value to 1, you can do the following:
		1. Run SQL Server Enterprise Manager.
		2. Expand a server group; then expand a server.
		3. Expand Replication Monitor; then expand the Agents and click the appropriate agent folder.
		4. Right-click appropriate publication and select Agent Properties...
		5. On the Steps tab, double-click the Run agent step, and then add the -HistoryVerboseLevel 1 in the Command text box.

		*****
		If you work with SQL Server 2000 consider using the -UseInprocLoader agent property.
		If this option was set, the in-process BULK INSERT command will be used when applying snapshot files to the Subscriber. You cannot use this property with character mode bcp, this property cannot be used by OLE DB or ODBC Subscribers.
		To set the UseInprocLoader property, you can do the following:
		1. Run SQL Server Enterprise Manager.
		2. Expand a server group; then expand a server.
		3. Expand Replication Monitor; then expand the Agents and click the Distribution Agents or Merge Agents folder.
		4. Right-click appropriate publication and select Agent Properties...
		5. On the Steps tab, double-click the subscription agent step, and then add the -UseInprocLoader property in the Command text box.

		*****
		Increase the Log Reader Agent ReadBatchSize parameter.
		This parameter specifies the maximum number of transactions read out of the transaction log of the publishing database. The default value is 500. This option should be used when a large number of transactions are written to a publishing database, but only a small subset of those are marked for replication.

		*****
		If you work with transactional replication, increase the Distribution Agent CommitBatchSize parameter.
		This parameter specifies the number of transactions to be issued to the Subscriber before a COMMIT statement is issued. The default value is 100.

		*****
		Create an index on each of the columns that is used in the filters WHERE clause.
		If you do not use indexes on columns used in filters, then SQL Server must perform a table scan.

		*****
		If you work with merge replication, use static instead of dynamic filters.
		Because SQL Server requires more overhead to process the dynamic filters than static filters, for best performance you should use static filters, whenever possible.
		
-- Сеть Ethernet
	-Ethernet являются коллизионными, т.е. возникающие одновременно в сети два пакета отклоняются оборудованием сети и повторяются через случайный промежуток времени, разный для каждого из пакетов.Наличие большого числа коллизий может привести к снижению производительности операций, которые сервер баз данных осуществляет через сеть.
	- Сети Ethernet имеют ограничение на протяженность сегмента. Превышение длинны сегмента может привести к тому, что ответ о получении пакета не будет вовремя получен узлом, его ожидающим. Такая ситуация приводит к потерям пакетов, что тоже негативно отражается на производительности.
	- Сети Ethernet имеют ограничение на число соединений между парой устройств активного сетевого оборудования. Превышение установленного стандартом числа пассивных соединений может увеличить время отклика и породить неоднородности или аномалии в сети, снижающие ее производительность.
	- Протяженность сети, наличие между серверами большого количества активного и пассивного сетевого оборудования, имеющего собственную задержку обработки запроса, также может снижать производительность, хотя будут соблюдены требования стандарта, и каждый участок в отдельности будет работать с высокой производительностью.
			
-- Задачи отказоустойчивости
	1 задача - копирование данных "моментально"
	2 задача - ввод в эксплуатацию, как его сделать боевым
	3 задача - переключение пользователей

-- Репликация (транзакционная)
	- Плюсы
		1. Не нужно решать задачу 2
		2. Несколько резервных серверов
		3. Возможность использования резервного сервера для отчетов
	- Минусы
		1. Не решает задачу 3
		2. Сложное управление
-- Задания
	1. Agent History Cleanup Agent - Для очистки устаревшей хронологии работы агентов
	2. Distribution Cleanup Agent - запускается каждые 10 минут и удаляет успешно реплицированные всем подписчикам команды, метаданные которых хранятся в системных таблицах базы данных распространителя (значение по умолчанию). Кроме этого, удаляются все моментальные снимки, которые уже были применены подписчиками, и с момента применения последнего снимка прошло больше 72 часов (значение по умолчанию). Удаление снимков позволяет избежать исчерпания дискового пространства под моментальные снимки.
	3. Expired Subscription Cleanup Agent - Очистка истекших подписок
	4. Reinitialize Subscriptions Having Data Validation Failures Agent - призвано автоматизировать реакцию на неудачи при сверке данных издателя с подписчиком. По умолчанию, это задание остановлено и не имеет расписания. Сделано это потому, что подписчики, у которых выявлены расхождения данных с издателем, будут принудительно инициализированы и применят последний моментальный снимок при следующем запуске агента слияния или агента распространителя.
	5. Replication Agents Checkup Agent - Для поиска агентов репликации, которые не подают «признаков жизни
	6. Replication monitoring refresher for distribution - не имеет своего собственного задания, работает постоянно и настраивается на одной из вкладок оснастки монитора репликации. Нужен он для настройки обновления наблюдаемой в мониторе репликации картины активности агентов. В его задачу входит обновление буферов запросов, используемых монитором репликации.
	
-- Сверка репликации
	- Если мы сомневаемся в целостности данных, можно запустить сверку репликации. Это долгий процесс, который накладывает нагрузку на сеть.
	- Сверка может выполняться не только вручную, но и автоматически, по расписанию. Кроме того, если сверка выявит расхождения, можно настроить автоматическую повторную инициализацию для не прошедшего сверку подписчика
	-- Типы сверки:
		1. Быстрый подсчет строк (самый щадящий метод)
		2. Точный подсчет строк (для сверки с другими версиями) 
		3. Самый «тяжелый» способ – вычисление контрольных сумм.
	-- Процедуры:
		sp_article_validation предназначена для сверки одной статьи и применима в репликации транзакций
		sp_publication_validation сверяет всю публикацию репликации транзакций (для некоторых версий она применима и для репликации снимков).
		sp_table_validation для всех типов репликации и позволяет осуществлять сверку таблиц или индексированных представлений. Называется эта системная хранимая процедура. подсчитывает количество строк и, опционально, контрольную сумму опубликованной таблицы
		sp_rename_replication_server 'SubscriberA', 'SubscriberB' -- Поменять имя сервера
		sp_restoredbreplication удалит все относящиеся к репликации метаданные из БД
		sp_replicationdboption отметить восстанавливаемые базы данных, как участвующие в репликации соответствующего типа.
		sp_replrestart, можно принудительно возобновить репликацию
		sp_vupgrade_subscription_tables - После восстановления базы данных подписчика на том же сервере, версия которого отличается от сохраненной в резервной копии, для синхронизации версий объектов нужно выполнить системную хранимую процедуру .
		
-- BACKUP
	- Если используется доставка журналов (Log Shipping), обязательно регулярно копируете системную базу данных msdb (которая используется для учета передачи копий журнала). Также, нужно делать резервные копии после внесения любых изменений в публикации или выполнения процедур по обслуживанию публикуемой базы данных.
	- Перед тем, как приступить к восстановлению издателя после полного системного краха или потери издаваемых баз данных, нужно с помощью системной хранимой процедуры sp_replicationdboption
	- Резервируйте базу distribution, а затем делайте резервные копии журнала транзакций и дифференциальные резервные копии этой базы данных. Восстанавливать базу данных распределителя нужно синхронно с восстановлением издаваемой базой данных
	-- Стратегии
		1. Публикуемые базы, master и msdb.
		2. Публикуемые базы, база распределителя, master и msdb.
		3. Публикуемые базы, подписываемые базы, master и msdb.
		4. Публикуемые базы, подписываемые базы, база распределителя, master и msdb.
		
	-- Влияние backup на репликацию
		1. Mirroring (действия, которые запрещены):			
			- Backup and restore of the mirror database are not allowed.
			- Backup of the principal database is allowed, but BACKUP LOG WITH NORECOVERY is not allowed.
			- Restoring the principal database is not allowed.
		2. Log Shipping (действия, которые запрещены):
			- Backup без COPYONLY. Copy-only full backups
		3. Transactional  (действия, которые запрещены):
			- Пока не выявил
		
-- Запросы
	select * from distribution..MSdistribution_agents
	select * from distribution..MSdistribution_history WHERE agent_id = 4 order by time desc
	
-- Флаги
	- 1448 (Обычно, Агента чтения журнала ждет, пока не будут закреплены записи в журнале регистрации транзакций зеркальной базы данных, после чего он копирует их в базу данных Распространителя. Когда сервер запущен с флагом трассировки 1448, это ожидание исключается, и Агента чтения журнала может сразу копировать изменения, независимо от состояния зеркалирования). Надо понимать, что существует вероятность того, что использование этого флага приведет к проблемам в случае отказа Зеркального отображения.
	
-- Скрипты
	USE distribution;
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SELECT DISTINCT
		   @@SERVERNAME
		  ,a.article_id
		  ,a.Article
		  ,p.Publication
		  ,SUBSTRING(agents.[name], 16, 35) AS [Name]
		  ,s.agent_id
		  ,s.UndelivCmdsInDistDB
		  ,s.DelivCmdsInDistDB 
		  ,UndelivCmdsInDistDB + DelivCmdsInDistDB  AS TaotalTrans

	FROM dbo.MSdistribution_status AS s
	INNER JOIN dbo.MSdistribution_agents AS agents ON agents.[id] = s.agent_id
	INNER JOIN dbo.MSpublications AS p ON p.publication = agents.publication
	INNER JOIN dbo.MSarticles AS a ON a.article_id = s.article_id and p.publication_id = a.publication_id
	WHERE 1=1 AND s.UndelivCmdsInDistDB <> 0 AND agents.subscriber_db NOT LIKE 'virtual'
	ORDER BY s.UndelivCmdsInDistDB DESC
	OPTION(RECOMPILE);
	
-- Expire/Expires/срок действия подписки/переинициализация
	- Задаётся в свойствах репликации, в разделе общее
	- Если какие-то изменения требуют пересинхронизации, то осторожней их вносите, так как вам все подписки потребуют пересинхронизацию
	-- Транзакционня репликация
		- Если подписка не синхронизирована в пределах максимального срока хранения распространения (по умолчанию 72 часа) и в базе данных распространителя есть изменения, которые не были доставлены подписчику, то подписка будет помечена как деактивированная заданием Очистка распространения, выполняемым на распространителе. Эта подписка должна быть инициализирована повторно. (Это называется период хранения распространителя. Настройки можно найти в SSMS >> Replication >> пкм >> Distributor Properties)
		- Если подписка не будет синхронизирована в пределах срока хранения публикации (по умолчанию 336 часов), то срок действия подписки истечет и она будет удалена заданием Очистка истекшей подписки, выполняемым на издателе. Эта подписка должна быть вновь создана и синхронизирована. (найти данную опцию можно в свойствах публикации "Subscription expire and may be dropped...")
		- Если истекает срок действия принудительной подписки, она полностью удаляется, а подписки по запросу не удаляются. Подписки по запросу должны удаляться на подписчике.
	
	-- Merge
		- Допустим, срок хранения публикации равен 14 дням, тогда действие подписки может истечь, если она не будет синхронизирована в течение 14 дней.
			Если на издателе выполняется SQL Server 2005 или более поздняя версия, и агент подписки входит в состав SQL Server 2005 или более поздней версии, тогда действие подписки истечет, только если будут внесены изменения в данные секции этой подписки. Например, предположим, что подписчик получает пользовательские данные только для клиентов в Германии. Если срок хранения задан равным 14 дням, срок действия подписки истечет на 14-й день, только если за последние 14 дней не вносились изменения в данные немецких клиентов.
		- В интервале от 14 до 27 дней после последней синхронизации подписка может быть инициализирована повторно.
		- Через 28 дней после последней синхронизации подписка удаляется заданием Очистка истекшей подписки. Если истекает срок действия принудительной подписки, она полностью удаляется, а подписки по запросу не удаляются. Подписки по запросу должны удаляться на подписчике. Дополнительные сведения см. в разделе Как удалить подписку по запросу (программирование репликации на языке Transact-SQL).
		
-- Удаление Snapshot всех
	EXEC dbo.sp_MSdistribution_cleanup @min_distretention = 0, @max_distretention = 0
	
-- Как удалить реплицируемую таблицу? 
	https://msdn.microsoft.com/ru-ru/library/ms151740%28v=sql.120%29.aspx?f=255&MSPPError=-2147217396
	
-- Case/Кейс
	Ситуация нетривиальная, ПРИМЕНЯТЬ НА СВОЙ СТРАХ И РИСК))
	Описание окружения:
	Сервер публикатор - MS SQL Server 2014 SP2 + CU5, дистрибьютор тут же.
	Сервер подпищик - MS SQL Server 2012 RTM
	База в районе 400 ГБ, реплицируются некоторые таблицы , где-то чуть больше половины в суме.
	В один прекрасный день, на публикаторе запустили очень массовый апдейт. Ситуация усугубилась, что на эту таблицу стоял instead of update trigger, в коде которого апдейтилось каждое поле. Из-за этого, команда update через реплику поползла как delete/inserte. Канал слабый, одним словом, без того плачевная ситуация усугубилась еще сильнее, очередь была около 70 млн команд (проверял процедурой distribution.dbo.sp_replmonitorsubscriptionpendingcmds). Короче все умерло, как только эту транзакцию начало применять. Полез я в distributor...
	Ганяю запрос:
	SELECT
		  mt.entry_time, mt.xact_seqno [XACT NO],
		  COUNT(mr.xact_seqno)  [commands_count]

	FROM [distribution].[dbo].MSrepl_transactions mt WITH(NOLOCK)
	JOIN [distribution].[dbo].MSrepl_commands mr WITH(NOLOCK)
		  ON mt.xact_seqno = mr.xact_seqno
	--where entry_time > '19.09.2017 10:00:00'
	GROUP BY
		  mt.entry_time, mt.xact_seqno
	having  
	 --count(1)  > 10000
	 count(1)  > 1000
	 --count(1)  > 1
	ORDER BY 1

	Вижу в очереди транзакцию, в которой эти 70 млн команд. "Захожу" внутрь транзакции, чтобы убедиться: 

	use [distribution]
	go

	sp_browsereplcmds 
	 @xact_seqno_start = 'тут seqno транзакции'
	 , @xact_seqno_end  = 'тут seqno транзакции'
	go
	Жду, чтобы убедится и ровно половина имеет вид {CALL [sp_MSdel_#####] (######)}, а другая половина {CALL [sp_MSins_#####] (######)}. 
	Первая мысль (которая и выстерлила) - убрать из с очереди. Рылся на сайтиках и на каком-то китайском нашел (ССЫЛКА ПОТЕРЯЛАСЬ), что они просто из таблицы дистрибьютора удаляют это все дело.
	Сказал руководству, что либо пробуем и реплику перестраиваем, либо ждем овер 90000 лет, пока доедет, сказали ок. (вру попробовал на тестовой реплике, все взлетело ну я хочу приукрасить историю ,мол все в огне :))
	Начинаю приключение:
	1) Стопаю синхронизацию.
	2) Запускаю это:
	begin transaction

	 delete [distribution].[dbo].MSrepl_commands
	 where xact_seqno =  тут seqno транзакции

	commit
	3) запускаю синхронизаци.
	4) Афигеваю, в мониторе пошли мелкие рядовые рабочие транзакции.

	В результате, на публикаторе апдейт прошел, но на реплике его нет и реплика не распалась (кстати, с точки зрения бизнеса он не нада, там для каких-то бабенок для аналитики. Просто дали им доступ на публикатор, там то все норм)
	Важно еще сказать, что на момент стопа синхронизации, часть транзакции уже прошла, по этому после стопа она начала откатываться, по этому это еще дополнительное немалое время.
	В результате очередь сократилась из 70 млн к 1 - те транзакции, которые успели в хвост накапать, пока реплика пыталась проглотить этого монстра.