MYSQL. Справочник по языку
MYSQL. Руководство администратора
ПОЛЬ Дюбуа - MYSQl 
Люк Веллинг и Лора Томсон - Mysql.Учебное пособие.

7 видео 34 минута - 4 свойства определяющие Транзакцию

--Транзакции(только INNODB):
START/BEGIN TRANSACTION
ROLLBACK
COMMIT

SET AUTOCOMMIT = 1 - 1 изначально. Если поставить 0, то можно сделать 1000 INSERT, а потом самому написать COMMIT

SET SESSION TRANSACTION ISOLATION LEVEL REPEATABLE READ - создать транзакцию для меня(SESSION другим пользователям не надо переключаться, чтобы увидеть результат, GLOBAL - надо)   

SET TRANSACTION ISOLATION LEVEL REPEATABLE READ
READ UNCOMMITTED - Нет изоляции
READ COMMITTED - Видны подтверждённые данные. Фантомы возникают тогда, когда вы ещё не завершили Транзакцию, а другой уже подтвердили данные и у вас они появятся.
REPEATABLE READ - Только свои данные(по умолчанию). Изменения других не видны, даже если они подтвердили транзакцию.
SERIALIZABLE - Не видим даже свои изменения(теория). В MYSQL SERIALIZABLE почти то же самое что и REPEATABLE READ

--Движки MYSQL(Storage Engine)
show engines - показать движок
CREATE TABLE t (i INT) ENGINE/TYPE = INNODB; - Задать движок при создании таблицы
ALTER TABLE t ENGINE = MYISAM; - Сменить движок таблицы. Меняется только при условии что таблица удовлетворяет условиям нового движка.
--INNODB
Универсальный, поодерживает всё, кроме полнотекстовых индексов. Особенность все данные хранятся не в этой БД(ibdata1,ib_logfile0,ib_logfile0(общие файлы)). В папке хранятся только форматы. Перенос через Backup. Быстрый. Хороший на SELECT (10.20 сек).
--MyISAM
Рассчитан на OLTP(Быстрые вставки и изменение данных) и не требователен к ресурсам. Хранит в виде отдельных таблиц, в своей папке(*.MYD(MyData) и *.MYI(MyIndex)). Не оптимизирован под SELECT, долгий(21.30 сек). Не поддерживает FOREIGN KEY и нет транзакий. Есть блокировки, есть полнотекстовый поиск.
--ARCHIVE
Хранит данные в виде ZIP архива(не совсм ZIP). Хранит данные в своей папке. Не предназначен для изменения информации, SELECT(12.50 выдал мало из-за кэша) примерно как в MyISAM. Нет PRIMARY KEY и FOREIGN KEY, транзакций. Предназначен примерно для редко изменяемой информации.
--CSV
Данные хранятся в текстовом формате. Для совместимости сдругими видами. SELECT(14.00 выдал мало из-за кэша), примерно как в MyISAM, чуть быстрее. FOREIGN KEY нет, транзакий нет, полнотектсового индекса нет.
--MERGE
MyISAM, хранящий таблицы в разных файлах.
--BDB
ДЛя совместимости сервера SQL BerkeleyDB
--MEMORY
Данные в оперативке. Сохранность данных в таблицах не гарантируется. SELECT (1.91). Рекомендуется для временных таблиц.
--FEDERATED
Поддержка всего и вся на MySQL. Только в платной версии. Скорость бешеная.
--Blackhole
Всё что записывается, пишется в космос(уничтожается). Любое чтение - Empty. Создано для отладки. Не нужна таблица - сделали ей этот движок.

--Backup(у mysqldump много параметров)
mysqldump -uroot - p853285 world - вывести на экран бэкап
mysqldump -uroot - p853285 world > backup.sql - вывести на экран бэкап в фаил
mysql -uroot -p853285 course < backup.sql - из этого файла всё выполнить. Обязательно БД уже должна быть(course) и она должна быть пустой.
mysqldump -uroot - p853285 -T d:\mysql\samples world - Бэкап в папку, она должна быть пустой. Там создаётся по 2 файла на каждую таблицу(структура и фаил с данными в особом формате, восстановление происходит очень быстро, но в ручную). Для восстановления придётся восстанавливать дату для каждой таблицы через loaddata(?)

-- Отследить запрос
show processlist;
show full processlist;

-- Детали запроса
explain *запрос*

-- Профайлер (работает на тукущий сеанс)
set profiling=1;

SHOW PROFILES;
SHOW PROFILE FOR QUERY 1;

-- Проверка файлов базы(индексы)
--  myisamchk /path/to/database_dir/*.MYI > путь куда лог записать
-- myisamchk /var/db/mysql/dekotel/*.MYI > /home/dekotel/data/www/text.txt


Нагрузка на Mysql хостинга - 1000 единиц (нагрузка на процессор за сутки)

-- Линуск
find / -name *имя файла* -- Поиск
top -- Процессы сервера
mc -- файловый менеджер
.nginx -- запустить процесс

-- Для объединения записей из столбца в строку надо использовать GROUP_CONCAT

GROUP_CONCAT([DISTINCT] expr [,expr ...]
[ORDER BY {unsigned_integer | col_name | expr}
[ASC | DESC] [,col_name ...]]
[SEPARATOR str_val])

DISTINCT позволяет отобрать только уникальные записи. ORDER BY     ASC и DESC задают порядок сортировки. С помощью  SEPARATOR str_val можно задать разделитель для записей.

Пример:
mysql> SELECT student_name,
-> GROUP_CONCAT(DISTINCT test_score
-> ORDER BY test_score DESC SEPARATOR ‘ ‘)
-> FROM student
-> GROUP BY student_name;

-- Программа работы с базой/Managment
- SQLyog
